@import '../../variables.scss';

.about{
            margin-top: 100px;

    &-content{
        width: 100%;;
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap-reverse;

        &-description{
            width: 50%;
            text-align: start;
            p{
                margin-top: 10px;
                span{
                    color: $accent-color;
                    font-weight: 500;
                }
            }
        }

        &-image{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                max-width: 300px;
            
            }

        }
    }
}

@media screen and (max-width: 750px) {
    .about{
        &-content-image{
            width: 100%;
        }
        &-content-description{
            width: 100%;
        }
    }
}