@import "../../variables.scss";

.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  .portfolio-items {

    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    max-width: calc(100vw - 20px);
    padding-top: 50px;
    padding-bottom: 30px;

    .portfolio-item {
      background-color: black;
      border-radius: 15px;
      min-width: 350px;
      display: flex;
      flex-direction: column;
      transition: all 0.3s;

      &-image {
        img {
          width: 100%;
          filter: grayscale(75%);

          &:hover {
            filter: grayscale(0%);
          }

          border-radius: 15px 0 0 0px;
        }
      }

      &-name {
        margin-top: 20px;
      }

      &-tech-stack {
        padding: 0 10px 0 10px;

        span {
          background-color: $accent2;
          border-radius: 7px;
          padding: 0 7px;
          margin: 0 3px;
          text-transform: lowercase;
        }
      }

      &-description {
        margin-top: 20px;
        padding: 0 10px 0 10px;
      }

      &-btns {
        margin: 20px 0;

        button {
          padding: 7px 20px;
          margin: 0 5px;
        }
      }

      &:hover {
        scale: 1.05;

        .portfolio-item-image {
          img {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  .portfolio-cta {
    margin-top: 30px;
  }
}